main {
    background: #000000;
    margin: auto;
    height: 100%;
    background-color: #000000;
    font-family: sans-serif;
    font-weight: 50;
    width: 100%;
    font-size: 10px;
    margin: auto;
    background-color: rgb(43, 40, 40);
    font-family: 'Roboto', sans-serif;
   }

.boutique {
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
}



header {
    background-color: rgba(43, 5, 5, 0.986);
}

.tittre {
    text-align: center;
    size: 100px;
    color: rgb(177, 113, 31);
}


/* nav */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(0, 0, 0);
  }

  /*carousel*/

  #myCarousel {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
  }

  .topProduit {
      font-size: 50px;
      text-align: center;
      color: antiquewhite;
  }