main {
    background: #000000;
    margin: auto;
    height: 100%;
    background-color: #000000;
    font-family: sans-serif;
    font-weight: 50;
   }



header {
    background-color: rgba(43, 5, 5, 0.986);
}

.tittre {
    text-align: center;
    margin: 20px, 0, 20px, 0;
    font-size: 500px;
    color: rgb(177, 113, 31);
}


/* nav */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  /*carousel*/

  #carousel {
      
  }