html {
    background-color: rgb(43, 5, 5, 0.986);
}

main {
    background: #000000;
    margin: auto;
    height: 100%;
    background-color: #000000;
    font-family: sans-serif;
    font-weight: 50;
    width: 100%;
    font-size: 10px;
    margin: auto;
    background-color: rgb(43, 40, 40);
    font-family: 'Roboto', sans-serif;
   }

   i {
     color: antiquewhite;
   }

.boutique {
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
}



header {
    background-color: rgba(43, 5, 5, 0.986);
    margin-top: 100px;
    
}

.tittre {
    text-align: center;
    size: 100px;
    color: rgb(177, 113, 31);
}


/* nav */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(255, 255, 255);
  }

  /*carousel*/

  #myCarousel {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
  }

  .topProduit {
      font-size: 50px;
      text-align: center;
      color: antiquewhite;
  }

  /* boutique */

  .container-fluid {
      background-color: rgb(43, 5, 5, 0.986);
  }

* {
    box-sizing: border-box;
  }
  
.main {
    max-width: 1000px;
    margin: auto;
  }
  
h1 {
    font-size: 500px;
    word-break: break-all;
  }
  
p {
  font-size: 20px;
  color: #000000
}

input {
  size: 20px;
  background-color: #fafafa;
  color: rgb(0, 0, 0);
}



.row {
    margin: 8px -16px;
  }
  
.row,
.row > .column {
    padding: 8px;
  }
  

.column {
    float: left;
    width: 25%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  footer {
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    padding-bottom: 1%;

  }

  .formulaire {
    background-color: rgb(43, 5, 5, 0.986);
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
    
  }

  label {
    color: antiquewhite;
  }


